/Makefile
# Eclipse
.classpath
.factorypath
.project
.settings/

# Intellij
.idea/
*.iml

# Maven
target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties